<div class="container">
  <div *ngFor="let favor of favoriteData" (click)="favoriteSelect(favor)" routerLink="./home" class="container__city">
    <div class="container__city--info">
      <p class="container__city--info-text">{{ favor.LocalizedName }}</p>
      <p class="container__city--info-text">{{ favor.Country['ID'] }}</p>
    </div>
    <div class="container__weatherImg">
      <img class="container__weatherImg--Img" src="assets/1.png" alt="">
    </div>
    <div class="container__cityName">
    </div>
  </div>
</div>
