.container{
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    &__city{
        margin: 10px;
        text-align: center;
        width: 15vw;
        background-color: rgba(0, 255, 255, 0.336);
        border-radius: 8px;
        border: 0.5px solid black;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        &--info{
            font-size: 2vw;
            padding: 10px 0;
            @media (max-width: 768px) {
              display: flex;
              align-items: center;
              padding: 10px 5px;
              font-size: 23px;
              flex-wrap: wrap;
              flex-direction: column-reverse;
              justify-content: center;
              width: 115px;
          }
            &-text{
              margin: 0 auto;
              @media (max-width: 768px) {
                margin: 0 5px;  
            }
          }
        }

        @media (max-width: 768px) {
          width: 265px;
          height: 129px;
          flex-direction: row;
      }
     }
    &__weatherImg &__weatherImg--Img{
        margin: 0 auto;
        display: block;
        width: 80%;
        @media (max-width: 768px) {
        height: 100%;
        width: auto;
        }
    }
  }
  

