.container{
  display: flex; 
  justify-content: space-around; 
}

.row{
    width: 200px;
    height: 300px;
    background-color: rgba(0, 255, 255, 0.336);
    border-radius: 20px;
    border: 0.5px solid black;
}
.imgrow{
    width: 100%;
}

.imgweather{
    width: 60%;
    margin: 0 auto;
    display: block;
}

.degaree{
    font-size: 30px;
    text-align: center;
}

.day{
    font-size: 40px;
}

.dayweather{
    text-align: center;
    margin: 20px auto;
}