<div class="container">
    <div class="row" *ngFor="let weatherinfo of weatherData">
        <div class="dayweather">
            <span class="day">{{ weatherinfo.Date }}</span>
        </div>
        <div class="imgrow">
            <img class="imgweather" src="assets/{{ weatherinfo.Day.IconPhrase }}.png" alt="">
        </div>
        <div class="textweather">
            <p class="dayweather">{{ weatherinfo.Day.IconPhrase }}</p>
            <p class="degaree"> {{ weatherinfo.MinTemperatureValue }}° / {{ weatherinfo.MaxTemperatureValue }}°</p>
        </div>
    </div>
</div>