
.container{
  display: flex; 
  justify-content: space-around; 
  @media (max-width: 768px) {
    flex-direction: column;
    }
}

.weather{
    width: 15vw;
    background-color: rgba(0, 255, 255, 0.336);
    border-radius: 8px;
    border: 0.5px solid black;
    display: flex;
    flex-direction: column;
    
    &__date{
        margin: 0 auto;
        padding: 10px;
        &-day{
            font-size: 2vw;
            @media (max-width: 768px) {
             font-size: 16px;
            }
        }
        @media (max-width: 768px) {
            align-items: center;
            justify-content: center;
            display: flex;
            width: 100px;   
            margin: 0 0;
            flex: 0.3;     
        }
    }

    &__img-container{
        width: 100%;
        flex: 1;
        &-img{
            width: 60%;
            margin: 0 auto;
            display: block;

            @media (max-width: 768px) {
                height: 100%;     
                width: auto;  
            }
        }
        @media (max-width: 768px) {
            width: 42px;
        }
    }
    &__info{
        &-icon{
            text-align: center;
            margin: 20px auto;
            @media (max-width: 768px) {
                font-size: 15px;
                margin: 0 auto;
            }
        }
        &-degree{
            font-size: 2vw;
            text-align: center;
            @media (max-width: 768px) {
                font-size: 13px;
                margin: 0 auto;
            }
        }
        @media (max-width: 768px) {
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            width: 104px;
        }
    }
    @media (max-width: 768px) {
        width: 80%;
        min-width: 300px;
        flex-direction: row;
        display: flex;
        flex: 0.8;
        margin: 7px auto;
        padding: 12px 8px;
        min-height: 55px;
        max-height: 90px;
    }
}

// justify-content: center;
//     display: flex;