
.container{
  display: flex; 
  justify-content: space-around; 
}

.row{
    width: 15vw;
    background-color: rgba(0, 255, 255, 0.336);
    border-radius: 8px;
    border: 0.5px solid black;
    display: flex;
    flex-direction: column;
}
.imgrow{
    width: 100%;
    flex: 1;
}

.imgweather{
    width: 60%;
    margin: 0 auto;
    display: block;
}

.degaree{
    font-size: 2vw;
    text-align: center;
}

.day{
    font-size: 2vw;
}

.dayweather{
    text-align: center;
    margin: 20px auto;
}