<div class="container">
  <div class="location">
    <div class="location__heart" (click)='onAddFavorite()'>
      <div *ngIf="!currentCity.Favorite" class="location__heart--icon">
        <i class="far fa-heart location__heart--icon-awesome"></i>
      </div>
      <div *ngIf="currentCity.Favorite" class="location__heart--icon">
        <i class="fas fa-heart location__heart--icon-awesome"></i>
      </div>
    </div>
      <p>{{ currentCity.LocalizedName }} {{ currentCity.Country['LocalizedName'] }}</p>
  </div>
  <div class="location__info">
    <app-day-panel-component [weatherData$]='weatherData$'></app-day-panel-component>
  </div>
</div>
