.container{
    width:80%;
    height: 56vh;
    margin: 0 auto;
}

.weatherinfo{
    margin: 0 auto;
    position: relative;
}

.location{
    text-align: center;
    font-size: 3vw;
    font-family: fantasy;
    color: rgb(0, 0, 139);
}
