.container{
    margin: 0 auto;
}

.location{
    text-align: center;
    font-size: 3vw;
    font-family: fantasy;
    color: rgb(0, 0, 139);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    @media (max-width: 768px) {
        font-size: 30px;
    }
    
    &__heart{
        margin-right: 10px;
        &--icon{
            &-awesome{
                display: flex;
                align-items: center;
                font-size: 35px;
                color: red;
            }
        }
    }
    &__info{
        margin: 0 auto;
        position: relative;
    }
}




