<div class="container">
  <div class="search">
    <input class="search__input" [(ngModel)]="inputText" placeholder="Search City" (ngModelChange)="updateSubjectValue($event)" type="text">    <!-- <button (click)="onSelect()">click me...</button> -->  
     <ul *ngIf="(locationData$ | async).length > 0 && searchValid"  class="search__ul">
        <li *ngFor="let loc of locationData$ | async; let i = index" (click)="onSelectCity(loc)" class="search__ul-city"><i class="fas fa-search"></i> {{ loc.LocalizedName }}, {{ loc.Country['LocalizedName'] }}</li>
    </ul>
  </div>
</div>

