<div class="container">
  <div class="row">
    <!-- <p class="search_lable">Search</p> -->
    <input class="search_input" [(ngModel)]="inputText" placeholder="Search City" (ngModelChange)="updateSubjectValue($event)" type="text">    <!-- <button (click)="onSelect()">click me...</button> -->
    <div *ngIf="searchvalid" class="search_options">
     <ul class="ul_style">
       <li *ngFor="let loc of locationData$ | async; let i = index" (click)="onSelectCity(loc)" class="li_location">{{ loc.LocalizedName }}, {{ loc.Country.LocalizedName }} , {{ loc.Favorite }}</li>
     </ul>
    </div>
  </div>
</div>

