<div class="container--main">
    <app-header (switchFavorite)="switchView($event)"></app-header>
    <div *ngIf="!favorite" class="container--main-home">
        <app-search-component
            [favoriteList]="favoriteList"></app-search-component>
        <app-day-panels-component *ngIf="citySelect !== null"
            (favorite)="addFavorite($event)"></app-day-panels-component>
    </div>
    <app-favorite-component *ngIf="favorite" (favoriteSelected)="favoriteSelected($event)"
        [favoriteData]="favoriteList"></app-favorite-component>
</div>