.container{
    height: 100%;
    &--main{
        height: 100%;
        background:linear-gradient( rgba(42, 30, 202, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url("../../assets/background.svg");
        background-repeat: no-repeat;
        background-size: cover;
     }
}